$titleBarHeight: 2rem;

$paneGap: 0.5rem;

// Left Side Pane
$sideNavCollapsedWidth: 6rem;
$sideNavExpandedWidth: 65rem;
$sideNavPaddingX: 0.5rem;
$leftSidePaneWidth: $sideNavCollapsedWidth + ($sideNavPaddingX * 2);
$sideNavLinksWidth: $sideNavCollapsedWidth - ($sideNavPaddingX * 2);
$sideNavLinkSize: 4.375rem;
$sideNavLinkIconSize: 2.25rem;
$sideNavLinksGap: 0.5rem;

// Right Side Pane
$rightSidePaneWidth: 20rem;
$rightSidePaneCollapsedWidth: 2.5rem;

// Center Pane
$centerPaneHeaderHeight: 3.5rem;

// Bottom Pane
$bottomPaneHeight: 8rem;

// Font Sizes
$fontSizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.75rem,
  4xl: 2rem,
  5xl: 2.5rem,
  6xl: 3rem,
);

// Border Radius
$borderRadiusSm: 0.5rem;
$borderRadiusMd: 0.75rem;
$borderRadiusLg: 1rem;
$borderRadiusXl: 1.25rem;
$borderRadiusFull: 9999px;

$transitionDuration: 0.3s;

$shadow: var(--shadow-flat);
$shadowHover: var(--shadow-flat--hover);
$innerShadow: var(--shadow-pressed);
