$titleBarHeight: 2rem;
$bottomHeight: 8rem;

// Left Sidebar
$sidebarCollapsedWidth: 6rem;
$sidebarPaddingX: 0.5rem;
$sidebarExpandedWidth: 65rem;
$sidebarLinksWidth: $sidebarCollapsedWidth - ($sidebarPaddingX * 2);
$sidebarLinkSize: 4.375rem;
$sidebarLinkIconSize: 2.25rem;
$sidebarLinksGap: 0.5rem;

// Font Sizes
$fontSizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.75rem,
  4xl: 2rem,
  5xl: 2.5rem,
  6xl: 3rem,
);

// Border Radius
$borderRadiusSm: 0.5rem;
$borderRadiusMd: 0.75rem;
$borderRadiusLg: 1rem;
$borderRadiusXl: 1.25rem;
$borderRadiusFull: 9999px;

$transitionDuration: 0.3s;

$dropShadow: none;
$dropShadowSm: none;
$dropShadowHover: none;
$shadowColorDark: none;

$shadow:
  0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);

$shadowHover:
  0.15rem 0.15rem 0.3rem var(--greyLight-2),
  -0.1rem -0.1rem 0.25rem var(--white);

$shadowDark: 0.15rem 0.15rem 0.3rem var(--greyLight-2);

$innerShadow:
  inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
  inset -0.2rem -0.2rem 0.5rem var(--white);
